<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('其他出库列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>出库单号：</label>
                                <input type="text" name="outbNumb"/>
                            </li>
                            <li>
                                <label>出库人员：</label>
                                <input type="text" name="pers"/>
                            </li>
                            <li>
                                <label>出库日期：</label>
                                <input type="text" class="time-input" placeholder="请选择出库日期" name="date"/>
                            </li>
                            <li>
                                <label>出库总数量：</label>
                                <input type="text" name="totalOutbQuan"/>
                            </li>
                            <li>
                                <label>关联采购订单id：</label>
                                <input type="text" name="purcordeId"/>
                            </li>
                            <li>
                                <label>子表出库明细关联产品信息id：</label>
                                <input type="text" name="prodId"/>
                            </li>
                            <li>
                                <label>出库数量：</label>
                                <input type="text" name="outbQuan"/>
                            </li>
                            <li>
                                <label>出库仓库：</label>
                                <input type="text" name="outbWare"/>
                            </li>
                            <li>
                                <label>：</label>
                                <input type="text" name="json"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:outb:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:outb:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:outb:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:outb:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:outb:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:outb:remove')}]];
        var prefix = ctx + "system/outb";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "其他出库",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'outbNumb',
                    title: '出库单号'
                },
                {
                    field: 'pers',
                    title: '出库人员'
                },
                {
                    field: 'date',
                    title: '出库日期'
                },
                {
                    field: 'outbType',
                    title: '出库类型'
                },
                {
                    field: 'totalOutbQuan',
                    title: '出库总数量'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    field: 'purcordeId',
                    title: '关联采购订单id'
                },
                {
                    field: 'prodId',
                    title: '子表出库明细关联产品信息id'
                },
                {
                    field: 'outbQuan',
                    title: '出库数量'
                },
                {
                    field: 'outbWare',
                    title: '出库仓库'
                },
                {
                    field: 'json',
                    title: ''
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>