<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('客户列表')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>客户名称：</label>
                                <input type="text" name="custname"/>
                            </li>
                            <li>
                                <label>客户编码：</label>
                                <input type="text" name="code"/>
                            </li>
                            <li>
                                <label>客户经理：</label>
                                <input type="text" name="accoMana"/>
                            </li>
                            <li>
                                <label>地址：</label>
                                <input type="text" name="addr"/>
                            </li>
                            <li>
                                客户分类：
                                <select name="custClas" class="form-control m-b form-control" th:with="type=${@dict.getType('custom_cus')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>联系人姓名：</label>
                                <input type="text" name="contactname"/>
                            </li>
                            <li>
                                <label>职务：</label>
                                <input type="text" name="duties"/>
                            </li>
                            <li>
                                <label>联系方式：</label>
                                <input type="text" name="contactInfo"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:custom:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:custom:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:custom:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:custom:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: select2-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:custom:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:custom:remove')}]];
        var ApprovalFlag = [[${@permission.hasPermi('system:custom:Approval')}]];
        var prefix = ctx + "system/custom";
        var jsonObject = new Object();
        // 创建一个Ajax请求
        $.ajax({
            url: '/framework/dict/getAllLabel',
            type: 'GET',  // 请求类型，可以是GET或POST等
            dataType: 'json',  // 期望的响应数据类型
            success: function(data) {
                if(data!=null){
                    jsonObject = data.data;
                }
                initializeTable();

            },
            error: function() {
                console.error('Ajax Error');
            }
        });

        // 表格初始化函数
        function initializeTable() {

            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "客户",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '${comment}',
                    visible: false
                },
                {
                    field: 'custname',
                    title: '客户名称'
                },
                {
                    field: 'code',
                    title: '客户编码'
                },
                {
                    field: 'accoMana',
                    title: '客户经理'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    field: 'addr',
                    title: '地址'
                },
                {
                    field: 'custClas',
                    title: '客户分类',
                    formatter:function (value,row,index) {
                        let  map1 = jsonObject.custom_cus;
                        return map1[value];

                    }
                },
                {
                    field: 'contactname',
                    title: '联系人姓名'
                },
                {
                    field: 'duties',
                    title: '职务'
                },
                {
                    field: 'contactInfo',
                    title: '联系方式'
                },
                {
                    field: 'orgname',
                    title: '开票单位'
                },
                {
                    field: 'taxpIdennum',
                    title: '纳税人识别号'
                },
                {
                    field: 'bankOfdepo',
                    title: '开户银行'
                },
                {
                    field: 'bankAcco',
                    title: '银行账户'
                },
                {
                    field: 'address',
                    title: '开票地址'
                },
                {
                    field: 'tel',
                    title: '开票电话'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');

                        if(row.arrApproval>0){
                            actions.push('<a class="btn btn-info btn-xs ' + ApprovalFlag + '" href="javascript:void(0)"  onclick="Approval(\'' + row.id + '\',0)"><i class="fa fa-edit"></i>允许欠费</a>');
                        }else {
                            actions.push('<a class="btn btn-warning btn-xs ' + ApprovalFlag + '" href="javascript:void(0)"  onclick="Approval(\'' + row.id + '\',1)"><i class="fa fa-edit"></i>禁止欠费</a>');
                        }

                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        }

        // 欠费审批
        function Approval(id,arrApproval) {
            $.modal.confirm("确定更改该客户欠费审批状态？", function() {
                var data = { "id": id,"arrApproval": arrApproval};
                $.operate.post(prefix + "/Approval", data);
            })
        }
    </script>
</body>
</html>