<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('生产工单列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>生产单号：</label>
                                <input type="text" name="prodorderNumb"/>
                            </li>
                            <li>
                                <label>日期：</label>
                                <input type="text" name="date"/>
                            </li>
                            <li>
                                <label>下单人：</label>
                                <input type="text" name="pers"/>
                            </li>
                            <li>
                                <label>关联生产计划id：</label>
                                <input type="text" name="prodplanId"/>
                            </li>
                            <li>
                                <label>关联产品信息id：</label>
                                <input type="text" name="prodprodId"/>
                            </li>
                            <li>
                                <label>生产开始日期：</label>
                                <input type="text" class="time-input" placeholder="请选择生产开始日期" name="prodstartDate"/>
                            </li>
                            <li>
                                <label>生产截止日期：</label>
                                <input type="text" name="prodDeadline"/>
                            </li>
                            <li>
                                <label>子表关联产品信息id：</label>
                                <input type="text" name="materialprodId"/>
                            </li>
                            <li>
                                <label>子表关联工序id：</label>
                                <input type="text" name="prodproceId"/>
                            </li>
                            <li>
                                <label>已领料总数：</label>
                                <input type="text" name="totalPicking"/>
                            </li>
                            <li>
                                <label>未领料总数：</label>
                                <input type="text" name="totalUncla"/>
                            </li>
                            <li>
                                <label>已生产入库总数：</label>
                                <input type="text" name="totalWare"/>
                            </li>
                            <li>
                                <label>未生产入库总数：</label>
                                <input type="text" name="totalUnware"/>
                            </li>
                            <li>
                                <label>关联合同订单id：</label>
                                <input type="text" name="contorderId"/>
                            </li>
                            <li>
                                <label>物料需求总数：</label>
                                <input type="text" name="totalmaterRequ"/>
                            </li>
                            <li>
                                <label>${comment}：</label>
                                <input type="text" name="json"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:order:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:order:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:order:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:order:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:order:remove')}]];
        var prefix = ctx + "system/order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "生产工单",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '${comment}',
                    visible: false
                },
                {
                    field: 'prodorderNumb',
                    title: '生产单号'
                },
                {
                    field: 'date',
                    title: '日期'
                },
                {
                    field: 'pers',
                    title: '下单人'
                },
                {
                    field: 'prodplanId',
                    title: '关联生产计划id'
                },
                {
                    field: 'prodprodId',
                    title: '关联产品信息id'
                },
                {
                    field: 'prodstartDate',
                    title: '生产开始日期'
                },
                {
                    field: 'prodDeadline',
                    title: '生产截止日期'
                },
                {
                    field: 'materialprodId',
                    title: '子表关联产品信息id'
                },
                {
                    field: 'prodproceId',
                    title: '子表关联工序id'
                },
                {
                    field: 'pickingStatus',
                    title: '领料状态'
                },
                {
                    field: 'totalPicking',
                    title: '已领料总数'
                },
                {
                    field: 'totalUncla',
                    title: '未领料总数'
                },
                {
                    field: 'wareStatus',
                    title: '生产入库状态'
                },
                {
                    field: 'totalWare',
                    title: '已生产入库总数'
                },
                {
                    field: 'totalUnware',
                    title: '未生产入库总数'
                },
                {
                    field: 'contorderId',
                    title: '关联合同订单id'
                },
                {
                    field: 'totalmaterRequ',
                    title: '物料需求总数'
                },
                {
                    field: 'json',
                    title: '${comment}'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>